{% extends "SFMPicmntBundle::layout.html.twig" %}

{% block content %}

{% for image in paginator %}

<script type="text/javascript">
  $(document).ready(function(){
  
  
  if ( {{ parameters.voted }} == 0){

  $('#voted').hide();
  $('#btnVote').show(); 
  
  }
  else{

  $('#voted').show();
  $('#btnVote').hide(); 
  }


  $('#btnVote').click(function(){
  
  $.ajax({ url: "{{ path('img_vote', { 'idImage': parameters.idImage }) }}" ,
   succes:  sumVote()
   })
  }
  );
  
  });
  
  function sumVote(){
  $('#numVotes').html(parseInt($('#numVotes').html()) + 1);
  $('#btnVote').hide(); 
  $('#voted').show(); 
  };
</script>

<div id="navigation">
    {{ paginator|paginate }}
</div>

{# {% for image in paginator %} #}

<h2>{{ image.title }}
  <a href="{{ path('img_edit', { 'id_image': image.idImage }) }}">( {{ 'Edit' | trans }} )</a>
</h2>
{# load de image to modify #}
<img src="/uploads{{ asset(image.url) }}" id="image-to-modify"/>

{# Votes #}
<div id="numVotes">{{ image.votes }}</div>

<button id="btnVote">{{ 'Vote' | trans }}</button>
<button id="voted">{{ 'Voted' | trans }}</button>

<div id="img_descrition">
  <h3>{{ image.description }}</h3>
</div>

{% endfor %}

<div class="modify-control" style="width:320px">
   
  <div id="render-in-progress" style="display:none">
    <p>{{ 'Rendering...' | trans }}</p>
    <img src="http://camanjs.com/imgs/ajax-loader.gif" id="preset-rendering" />
  </div>
  
  <div id="accordion">
    <h3><a href="#">{#{{ 'Brightness/Contrast' | trans }}#} {{ 'Brightness' | trans }} 
	<input type="text" id="bAmount" style="border:0" class="slider-data"/> / 
	{{ 'Contrast' | trans }}
    	<input type="text" id="cAmount" style="border:0" class="slider-data"/> </a></h3>
    <div>

      <div id="sBrightness"></div>

      <br/>

      <div id="sContrast"></div>
      
    </div>
    <h3><a href="#">{{ 'Exposure' | trans }} <input type="text" id="aExposure" style="border:0" class="slider-data"/></a></h3>
    <div>

      <div id="sExposure"></div>

    </div>

    <h3><a href="#">{{ 'Saturation' | trans }}<input type="text" id="aSaturation" style="border:0" class="slider-data"/></a></h3>
    <div>
      
      <div id="sSaturation"></div>
       
    </div>
  </div>
  
</div>

<div id="comments">

  {% for comment in comments %} 

  <div id="comment">
    {{ comment.comment }}
  </div>

  {% endfor %}


</div>




{% endblock %}


