{% extends "SFMPicmntBundle::layout.html.twig" %}

{% block content %}

{{ 'Please insert the URL of the image' | trans }}

<form id="upload_form" action="{{ path('img_upload') }}" method="post" {{ form_enctype(form) }} >

  {{ form_errors(form) }}

  <div>
    {{  form_label(form.dataFile , 'Url' | trans ) }}
    {{ form_widget(form.dataFile) }}
  </div>

  {# necesary for the correct use of the form, without this the form is not valid #}
  {{ form_rest(form) }}

  <input type="submit" id="upload" />

</form>
  
{% endblock %}

