{#{% extends "SFMPicmntBundle::base.html.twig" %}#}


{% block body %}

{{ 'Please insert the URL of the image' | trans }}

<form id="upload_form" action="{{ path('img_upload') }}" method="post" {{ form_enctype(form) }} >

  <div>
    {{  form_label(form.url , 'Url' | trans ) }}
    {{ form_widget(form.url) }}
  </div>

  {# necesary for the correct use of the form, without this the form is not valid #}
  {{ form_rest(form) }}

  <input type="submit" id="upload" /> {# onsubmit="parent.$.fancybox.close(); return false" id="upload" /> #}

</form>
  
{% endblock %}


