{% extends "SFMPicmntBundle::layout.html.twig" %}

{% block stylesheet %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/sfmpicmnt/stylesheets/slide.css')}}"> 
{% endblock stylesheet %}

{% block javascript %}
{{ parent() }}

<script type="text/javascript" src="http://s3slider-original.googlecode.com/svn/trunk/s3Slider.js"></script>

{% endblock javascript %}



{% block scripts %}
{{ parent() }}

<script type="text/javascript">
  $(document).ready(function() {
  $('#slider').s3Slider({
  timeOut: 3000
  });
  });
</script>
{% endblock scripts %}

{% block content %}

<section id="content" class="container">
  <div class="row">
    <div id="index-slide" >
      {% include 'SFMPicmntBundle:Index:slide.html.twig' %}
    </div>
    <div class="span8 column round-box-with-shadow" id="index-options">
      <p>¿A que esperas para <a href="{{ path('fos_user_registration_register') }}">registrarte</a>?, es totalmente <strong>gratis</strong></p>
      <p>¿No estás convencido aún?, <a href="{{ path('img_show', {'category': 'all', 'option': 'random'}) }}">explora</a> sin preocupaciones o si ya tienes cuenta de usuario <a href="{{ path('fos_user_security_login') }}">accede ya</a>.</p>
    </div>
    <div class="span8 column">
      <iframe width="420" height="315" src="http://www.youtube.com/embed/UpMh9H7-odw?rel=0" frameborder="0" allowfullscreen class="box-with-shadow"></iframe>
    </div>
  </div>

</section>

<section id="index-most" class="container">
  <div class="row">
    <div class="span-one-third round-box-with-shadow" id="index-most-views">
      <h2>Mas Vistas</h2>
    </div>
    <div class="span-one-third round-box-with-shadow" id="index-most-voted">
      <h2>Mas Votadas</h2>
    </div>
    <div class="span-one-third round-box-with-shadow" id="index-most-comments">
      <h2>Mas Comentadas</h2>
    </div>
  </div>
</section>


{% endblock %}
