{% extends "SFMPicmntBundle::layoutNoLogo.html.twig" %}

{% block stylesheet %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/sfmpicmnt/stylesheets/slide.css')}}"> 
{% endblock stylesheet %}

{% block javascript %}
{{ parent() }}

<script type="text/javascript" src="http://s3slider-original.googlecode.com/svn/trunk/s3Slider.js"></script>

{% endblock javascript %}

{% block scripts %}
{{ parent() }}

<script type="text/javascript">
  $(document).ready(function() {
  $('#slider2').s3Slider({
  timeOut: 5000
  });

  });
</script>
{% endblock scripts %}

{% block content %}

<section id="index-content">

  <article id="index-title">
    <span id="the-p">P</span>
    <span id="the-icmnt">icmnt</span>
    <div id="index-title-subtext">
      <br/>
      <p>{{ 'Comment, Opinion, Teaches' | trans }}</p>
    </div>
  </article>
  
  <div id="index-description" class="container">
    <div class="row">
      <article class="span-one-third">
	<strong>{{ 'Comment' | trans }}</strong>
	<br />
	<p>{{ 'How about the picture? What do you like or dislike? Make comments about the pictures, criticism, teaches how to improve or simply express what you like or do not like about is image' | trans }}
	</p>
      </article>

      <article class="span-one-third">
	<strong>{{ 'Opinion' | trans }}</strong>
	<br />
	<p>{{ 'Generate discussion, propose improvements, do not settle for "like" or "I do not like." Defend your ideas, defend your style' | trans }}</p>
      </article>

      <article class="span-one-third">
	<strong>{{ 'Teaches' | trans }}</strong>
	<br />
	<p>{{ 'Why conform to words? Shows what you think, feel free to edit a photo with the available controls and argue your changes. All you modify will be displayed in your comment' | trans }}</p>
      </article>
    </div>
  </div>

</section>

<section id="index-center" >
  <div id="index-separator-top"></div>

  <div id="index-center-detail" class="container">
    <section class="row">
      <article class="span8 column">
	{% include "SFMPicmntBundle:Index:info.html.twig" %}
	<ol id="index-list">
	  <li><a href="{{ path('img_show', {'category': 'all', 'option': 'recents'}) }}">{{ 'Explore' | trans }}</a></li>
	  <li><a href="{{ path('fos_user_registration_register') }}">{{ 'Did you like this? Register' | trans }}</a></li>
	  <li><a href="{{ path('fos_user_security_login') }}">{{ 'Have user? Sign in Now' | trans }}</a></li>
	</ol>
      </article>
      <article id="most-comment" class="span8 column" >
	<h2 class="text-shadow">{{ 'Most commented' | trans }}</h2>
	<div id="index-slide-comment">
	  {% include 'SFMPicmntBundle:Index:slideComment.html.twig' %} 
	</div>
      </article>
    </section>
    <section class="row" id="mailchimp">
      <h2 class="text-shadow">Mantente informado</h2>
      {% include 'SFMPicmntBundle:Addons:mailchimp.html.twig' %} 
    </section>
  </div>


  <div id="index-separator-bot"></div>
</section>

{% endblock %}
