{% extends "SFMPicmntBundle::layout.html.twig" %}

{% block stylesheet %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('bundles/sfmpicmnt/stylesheets/slide.css')}}"> 
{% endblock stylesheet %}

{% block javascript %}
{{ parent() }}

<script type="text/javascript" src="http://s3slider-original.googlecode.com/svn/trunk/s3Slider.js"></script>

{% endblock javascript %}

{% block scripts %}
{{ parent() }}

<script type="text/javascript">
  $(document).ready(function() {
  $('#slider').s3Slider({
  timeOut: 3000
  });

  $('#slider1').s3Slider({
  timeOut: 5000
  });

  $('#slider2').s3Slider({
  timeOut: 5000
  });

  });
</script>
{% endblock scripts %}

{% block content %}

<section id="content" class="container">


  <div class="row">
    <div id="index-slide" >
     {% include 'SFMPicmntBundle:Index:slide.html.twig' %} 
    </div>
  </div>
  <div class="row">

    <div class="span8 column" id="info-index">
      <h2 class="text-shadow">
	{{ 'What is Picmnt' | trans }}?
      </h2>
      <br/>
      <p>
	{{ 'Have you ever been told' | trans }}?<strong> "{{ 'pretty picture, but I have a little extra saturation' | trans }}"</strong> {{ 'or' | trans }} <strong>"{{'improve with a bit of contrast' | trans }}"</strong>?
      </p>
      <p>
	{{ 'How much is "a bit of saturation"? How much is a bit of contrast?' | trans }}
      </p>
      <p>
	{{ "It's time to show what you mean with images. Picmnt is a new way to comment photos." | trans }}
      </p>
      <p>
	<strong>{{ 'Upload a photo, comment, edit and shows how you think it better.' | trans }}</strong>
      </p>
    </div>


    <div class="span8 column round-box-with-shadow" id="index-options">
      <div id="index-options-text">
      <p>{{ 'What are you waiting for' | trans }}  <a href="{{ path('fos_user_registration_register') }}">{{ 'sign up' | trans }}</a>?, {{ 'is absolutely' | trans }} <strong>{{ 'free' | trans }}</strong></p>
      <p>{{ 'Are you not convinced yet' | trans }}? <a href="{{ path('img_show', {'category': 'all', 'option': 'random'}) }}">{{ 'explore' | trans }}</a> {{ 'without worries, or if you have an account' | trans }} <a href="{{ path('fos_user_security_login') }}">{{ 'login now' | trans }}</a>.</p>
    </div>
    </div>
  </div>

</section>

<section id="index-most" class="container">
  <div class="row">
    <div class="span8 column text-shadow" id="index-most-comments">
      <h2>{{ 'Most commented' | trans }}</h2>
      <div id="index-slide-comment">
	{% include 'SFMPicmntBundle:Index:slideComment.html.twig' %} 
      </div>
    </div>
    <div class="span8 column text-shadow" id="index-last-added">
      <h2>{{ 'Last added' | trans }}</h2>
      <div id="index-slide-last">
	{% include 'SFMPicmntBundle:Index:slideLast.html.twig' %}
      </div>
    </div>
  </div>
</section>


{% endblock %}
