<h2 class="text-shadow">
  {{ 'What is Picmnt' | trans }}?
</h2>
<br/>
<p>
  {{ 'Have you ever been told' | trans }}?<strong> "{{ 'pretty picture, but I have a little extra saturation' | trans }}"</strong> {{ 'or' | trans }} <strong>"{{'improve with a bit of contrast' | trans }}"</strong>?
</p>
<p>
  {{ 'How much is "a bit of saturation"? How much is a bit of contrast?' | trans }}
</p>
<p>
  {{ "It's time to show what you mean with images. Picmnt is a new way to comment photos." | trans }}
</p>
<p>
  <strong>{{ 'Upload a photo, comment, edit and shows how you think it better.' | trans }}</strong>
</p>
