<div id="slider1" class="box-with-shadow"> 
  <ul id="slider1Content" >
    {% for image in lastImages %}
    <li class="slider1Image">
      <a href="{{ path('img_view', {'user': image.user.username, 'slug': image.slug}) }} ">
	<img src="/uploads{{ asset(image.url)}}" class="box-with-shadow" />
      </a>
      <span class="bottom"><strong>{{ image.title }}</strong><br />{{ 'By' | trans }}: {{ image.user.username }}</span>
    </li>
    {% else %}
    There are not images in the database
    {% endfor %}

    <div class="clear slider1Image"></div>
  </ul>
</div>
