{% extends "SFMPicmntBundle::layout.html.twig" %}

{% block title %} | Login{% endblock %}

{% block content %}

  <section id="login"  class="container container_12">
      <div class="clear">
      </div>

	  <article class="grid_4 prefix_4">

	      {% if error %}
			<div class="alert alert-error">
			    {{ error | trans }}
			</div>
	      {% endif %}

	      <form action="{{ path("fos_user_security_check") }}" method="post">


		  <h2 class="form-title">{% trans %}Acceder{% endtrans %}</h2>
		  <fieldset>
		      <label class="control-label" for="username">{{ 'Username:' | trans }}</label>
		      <input type="text" id="username" name="_username" value="{{ last_username }}" size="30" />

		      <label class="control-label" for="password">{{ 'Password:' | trans }}</label>
		      <input type="password" id="password" name="_password" size="30" />
		      
		      <label class="control-label" for="remember_me"> {{ 'Remember Me' | trans }}</label>
		      <input type="checkbox" id="remember_me" name="_remember_me" value="on" />

		      <a href="{{ path('fos_user_resetting_request') }}" >{{ 'Remember the password' | trans }}</a>

		      <input id="login" type="submit"  class="button accept-button" />

	      </fieldset>
	      </form>
	  </article>

  </section>      

{% endblock content %}
