{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %} | Login{% endblock %}



{% block content %}

<section id="content" class="container fos">
  <div class="row">
    {% if error %}
    <div class="alert-message error">
      {{ error }}
    </div>
    {% endif %}

    <form action="{{ path("fos_user_security_check") }}" method="post">
      <fieldset>
	<legend>{{ 'Login' | trans }}</legend>

	<div class="clearfix">
	  <label for="username">{{ 'Username:' | trans }}</label>
	  <div class="input">
	    <input class="xlarge" id="username" name="_username" value="{{ last_username }}"size="30" type="text" />
	  </div>
	</div>

	<div class="clearfix">
	  <label for="password">{{ 'Password:' | trans }}</label>
	  <div class="input">
	    <input class="xlarge" id="password" name="_password" size="30" type="password" />
	  </div>
	</div> 

	<div class="clearfix">
	  <div class="input">
	    <input type="checkbox" id="remember_me" name="_remember_me" value="on" /> {{ 'Remember Me' | trans }}
	  </div>
	</div>

	<div>
	  <a href="{{ path('fos_user_resetting_request') }}">{{ 'Remember the password' | trans }}</a>
	</div>

	<div class="clearfix" style="text-align:right">
	  <input type="submit" name="login" class="btn primary" />
	</div>

    </form>
    </fieldset>



  </div>
</div>
</section>      

{% endblock content %}
