{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %} | Login{% endblock %}

{% block content %}

<section id="content" class="container fos">
  <div class="row">
    
    <article class="span6" id="info-index">
      {% include "SFMPicmntBundle:Index:info.html.twig" %}
    </article>

    <article id="login-form" class="span6">
      {% if error %}
      <div class="alert alert-error">
	{{ error }}
      </div>
      {% endif %}

      <form action="{{ path("fos_user_security_check") }}" method="post" class="well form-horizontal">
	<fieldset>
	  <legend>{{ 'Login' | trans }}</legend>

	  <div class="control-group">
	    <label class="control-label" for="username">{{ 'Username:' | trans }}</label>
	    <div class="controls">
	      <input class="input-xlarge" id="username" name="_username" value="{{ last_username }}"size="30" type="text" />
	    </div>
	  </div>

	  <div class="control-group">
	    <label class="control-label" for="password">{{ 'Password:' | trans }}</label>
	    <div class="controls">
	      <input class="input-xlarge" id="password" name="_password" size="30" type="password" />
	    </div>
	  </div> 

	  <div class="control-group">
	    <label class="control-label" for="remember_me"> {{ 'Remember Me' | trans }}</label>
	    <div class="controls">
	      <label class="checkbox">
	      <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
	      </label>
	    </div>
	  </div>

	  <p id="remember-password">
	    <a href="{{ path('fos_user_resetting_request') }}" >{{ 'Remember the password' | trans }}</a>
	  </p>

	  <div class="clearfix" style="text-align:right">
	    <input type="submit" name="login" class="btn" />
	  </div>

      </form>
      </fieldset>
    </article>

  </div>
</section>      

{% endblock content %}
