<section id="request-password"  class="container container_12">

    <div class="clear">
    </div>

    <article class="grid_4 prefix_4">
	{% if invalid_username is defined %}
	  <div class="alert alert-error">
	  {{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}
	  </div>
	{% endif %}

	<h2 class="form-title">{{ 'Remember the password' | trans }}</h2>
	<form action="{{ path('fos_user_resetting_send_email') }}" method="POST">
	    <fieldset>
		    <label for="username">{{ 'resetting.request.username'|trans({}, 'FOSUserBundle') }}</label>
			<input type="text" id="username" name="username" />
		    <input type="submit" value="{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}" class="button accept-button"/>
	    </fieldset>
	</form>
    </article>

</section>
