{% form_theme form theme %}

<section id="content" class="container fos">

  <div class="row">

    <article class="span6" id="info-index">
      {% include "SFMPicmntBundle:Index:info.html.twig" %}
    </article>

    <article id="registration" class="span6">
    <form class="well form-horizontal" action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
      <fieldset>
	<legend>{{ 'Join' | trans }}</legend>
	{{ form_widget(form) }}
	<div class="controls">
	  <input type="checkbox" value="0" required="required"/>  <a href="{{ path('static_page', {'page': 'terms'}) }}">{{ 'I agree with the terms and condition of use' | trans }}</a>
	</div>
	<br/>
	<div class="controls" style="text-align:right">
	  <input type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" class="btn primary"/>
	</div>
      </fieldset>

    </form>

    </article>



  </div>
</section>
