{% extends "SFMPicmntBundle::layout.html.twig" %}

{% block content %}

<section id="content" class="container">


  <div class="row">


    <div class="span8 column">


      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam auctor nisi ut justo semper blandit. Vivamus lectus purus, pulvinar sit amet lobortis in, euismod ultricies felis. Nulla facilisi. Nulla eu sapien quis nulla molestie euismod eget quis sapien. Pellentesque at lorem vitae libero feugiat laoreet eu eget dui. Vivamus hendrerit adipiscing aliquam. Proin quis purus leo, at egestas leo. Aliquam vitae urna felis. Vestibulum ut purus diam. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

      Nam ullamcorper risus ac odio malesuada molestie. Cras cursus lacinia odio. Nam sed mi orci, sit amet iaculis risus. Etiam sodales lacus sed lorem egestas sed adipiscing odio tempus. Vivamus ipsum enim, vehicula vel ultricies vel, pharetra a libero. Curabitur suscipit ipsum ut lectus porta a tristique nibh hendrerit. Maecenas ultricies mollis consequat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec malesuada eros elementum nisi mattis fringilla. Nulla facilisi. Phasellus est dolor, tristique mattis mattis vitae, faucibus sed justo. Phasellus purus nunc, fermentum at consequat non, bibendum eu nisl.


    </div>

    <div class="span8 column">

	{{ form_errors(form) }}

      <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
	    <fieldset>
	      <legend>{{ 'Sign Up' | trans }}</legend>

 	  <div class="clearfix">
	    <label for="username">{{ 'Username:' | trans }}</label>
	    <div class="input">
	      {{ form_widget(form.username) }}
	
	    </div>
	  </div>

	  <div class="clearfix">
	    <label for="username">{{ 'Email:' | trans }}</label>
	    <div class="input">
	      {{ form_widget(form.email) }}
	
	    </div>
	  </div>


	  <div class="clearfix">
	    <label for="password">{{ 'Password:' | trans }}</label>
	    <div class="input">
	      {{ form_widget(form.plainPassword.first) }}

	    </div>
	  </div> 


	  <div class="clearfix">
	    <label for="password">{{ 'Retype:' | trans }}</label>
	    <div class="input">
	      {{ form_widget(form.plainPassword.second) }}

	    </div>
	  </div> 

	
	{{form_rest(form) }}

	{#    {{ form_widget(form) }}#}

	  <div class="clearfix" style="text-align:right">
          <input type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" class="btn primary" />

	  </div>


	    </fieldset>
      </form>


    </div>
  </div>
</section>
{% endblock content %}
