
{% block field_label %}
{% spaceless %}
    <label class="control-label" for="{{ id }}">{{ id|trans([], 'FOSUserBundle') }}</label>
{% endspaceless %}
{% endblock field_label %}

{% block field_widget %}
    {% set type = type|default('text') %}
    <div class="control-group">
      <div class="controls">
	<input type="{{ type }}" {{ block('widget_attributes') }} value="{{ value }}" class="{{ type }}-xlarge"/>
      </div>
    </div>
{% endblock field_widget %}
