{% extends "MGPMainBundle::layout.html.twig" %}

{% block javascript %}
{{ parent() }}

<script>

	{% if app.request.get('cat') == '' %}
	var category = 'all';
	{% else %}
	var category = "{{ app.request.get('cat') }}";
	{% endif %}

	{% if app.request.get('option') == '' %}
	var option = 'new';
	{% else %}
	var option = "{{ app.request.get('option') }}";
	{% endif %}

	var username = '';

	var page = 0;

</script>

{% endblock javascript %}

{% block content %}

<section>

	<div class="row-fluid">
		<div class="page-header span8">
			<h1>{{ option | capitalize }}  <small>{% if category == 'all' %} {{ 'All Categories' | trans }} {% else %}{{ category | capitalize }} {% endif %}</small></h1>
		</div>

		<div class="span4">
			{% if categories is defined %}
			<select id="category-select" class="pull-right">
				<option>All</option>
				{% for opt_category in categories %}
				<option {% if opt_category == category %} selected {% endif %}>{{ opt_category | capitalize | trans }}</option>
				{% endfor %}
			</select>
			{% else %}
			<a class="btn btn-row btn-large btn-success" href="{{ path('img_show', {'option': 'recents'}) }}">{{ 'Explore the last uploaded images, comment or modify' | trans }}</a>
			{% endif %}
		</div>
	</div>

	<div class="row"></div>
	<ul class="thumbnails">
		{% for image in images %}
		<li class="span3">
			<div class="thumbnail">
				<a href="{{ path('img_view', {'user': image.user.username, 'slug': image.slug}) }}"><img src="{{ image.webPath | imagine_filter('thumbnail') }}" alt="{{ image.title }}"/></a>
				<div>
					<a href="{{ path('img_view', {'user': image.user.username, 'slug': image.slug}) }}"><h5>{{ image.title | truncate(20) }}</h5></a>
					<p>
						{% trans %}By{% endtrans %}: <a href="{{ path('usr_profile', {'userName': image.user.username }) }}">
							{{ image.user.username | truncate(20)}}
						</a>
					</p>
				</div>
			</div>
		</li>
		{% endfor %}
	</ul>

	{% if images_per_page  <= images | length %}
    <div class="text-center">
		<a id="load-more-thumbs" href="#" class="btn btn-block btn-large">{% trans %}Load More{% endtrans %}</a>
	</div>
	{% endif %}

	{% endblock content %}
