{% extends "SFMPicmntBundle::layout_private.html.twig" %}

{% block content %}

<section id="user_edit" class="container">
  <div class="row">
    <div class="span4 column">
      {% if not avatar %}
      <img src="{{ asset('bundles/sfmpicmnt/images/user-default.png') }}" />
      {% else %}
      <img src="/uploads/avatarbig/{{ avatar }}" />
      {% endif %} 
    </div>
    <div class="span12 column">
      <form action="{{ path('usr_edit', { 'userId': userId }) }}" method="post" {{ form_enctype(form) }}>
	{{ form_widget(form) }}

	<input type="submit" />

      </form>
    </div>
  </div>
</section>
{% endblock %}

