{% extends "SFMPicmntBundle::layout_private.html.twig" %}

{% block content %}
<section id="profile" class="container">
  <article id="profile-avatar">
    <div class="row">
      <div class="span4 column">
	<img src="{{ avatarByUsername(app.request.get('userName'),'big') }}" class="avatar-large white-box-with-shadow"/>
      </div>

      {% if app.user %}
      {% if app.user.username == app.request.get('userName') %}
      <div class="spam3 offset8">
	<form action="{{ path('usr_profile', { 'userName': app.request.get('userName') }) }}" method="post" {{ form_enctype(form) }}>
	  <fieldset>
	    <legend>{{ 'Change Avatar' | trans }}</legend>
	  {{ form_widget(form) }}
	  <br>
	  <div class="clearfix btn-right">
	    <input type="submit" class="btn primary"  />
	  </div>
	  </fieldset>
	</form>
      </div>

      {% endif %}
      {% endif %}
    </div>
  </article>

  <article id="profile-images">
    <div class="row">
      <table class="zebra-striped">
	<thead>
          <tr>
            <th>{{ 'Preview' | trans }}</th>
            <th>{{ 'Title' | trans }}</th>
            <th>{{ 'Category' | trans }}</th>
            <th>{{ 'Action' | trans }}</th>
	    
	    {% if app.user and (app.user.username == app.request.get('userName')) %}
                 <th></th>
	    {% endif %}
          </tr>
	</thead>
	<tbody>
	  {% for image in images %}
	  <tr>
	    <td><a href="{{ path('img_view', {'user': app.request.get('userName'), 'slug': image.slug}) }}"><img src="/uploads/{{ image.url }}" class="img-thumbnail"/></a></td>
	    <td>{{ image.title }}</td>
	    <td>{{ image.category | trans }}</td>
	    <td><a href="{{ path('img_view', {'user': app.request.get('userName'), 'slug': image.slug}) }}">{{ 'View' | trans }}</a></td>
	    {% if app.user %}
	    {% if app.user.username == app.request.get('userName') %}
	    <td><a href="{{ path('img_edit', {'id_image': image.idImage}) }}">{{ 'Edit' | trans }}</a></td>
	    {% endif %}
	    {% endif %}
	  </tr>

	  {% else %}
	  <strong>{{ 'This user has not upload any picture' | trans }}</strong>
	  {% endfor %}
	</tbody>
      </table>
    </div>
  </article>

  <article id="profile-paginator">
    <div class="row">
      {{ simple_paginator_render('usr_profile', null, { 
      'routeParams': {'userName': app.request.get('userName')},
      'containerClass': 'profile-paginator',
      
      }
      ) }}
    </div>
  </article>

</section>

{% endblock %}

