{% extends "SFMPicmntBundle::layout_private.html.twig" %}

{% block content %}
<section id="profile" class="container">
  <div class="row">

    <div class="span4 column">
      <img src="{{ avatarByUsername(app.request.get('userName'),'big') }}" class="avatar-large"/>
    </div>

    {% if app.user %}
    {% if app.user.username == app.request.get('userName') %}
    <div class="spam8 column">
      <form action="{{ path('usr_profile', { 'userName': app.request.get('userName') }) }}" method="post" {{ form_enctype(form) }}>
	{{ form_widget(form) }}
	<input type="submit" />
      </form>
    </div>

    {% endif %}
    {% endif %}


  </div>
  <div class="row">
    <table>
      {% for image in images %}
      <tr>
	<td>{{ image.url }}</td>
	<td>{{ image.title }}</td>
	<td>{{ image.category }}</td>
	<td><a href="{{ path('img_view', {'user': app.request.get('userName'), 'slug': image.slug}) }}">View</a></td>
	{% if app.user %}
	  {% if app.user.username == app.request.get('userName') %}
	<td><a href="{{ path('img_edit', {'id_image': image.idImage}) }}">Editar</a></td>
	  {% endif %}
	{% endif %}
      </tr>
      {% else %}
      <strong>Este usuario aún no ha subido ninguna foto</strong>
      {% endfor %}
    </table>
  </div>
</section>

{% endblock %}

