{% extends "SFMPicmntBundle::layout_private.html.twig" %}

{% set username = app.request.get('userName') %}

{% block content %}
<section id="profile" class="container">
  <article id="profile-avatar">
    <div class="row">
      <div class="span4 column">
	{% if existsAvatar(username) %})
	<img src="{{ avatarByUsername(username,'big') }}" class="avatar-large white-box-with-shadow"/>
	{% else %}
	    {% if gravatar_exists(getEmail(username)) %}
	        <img src="{{ gravatar(getEmail(username), 300) }}" class="avatar-large white-box-with-shadow" />
	    {% else %}
	        <img src="{{ asset('/bundles/sfmpicmnt/images/user.svg') }}" class="avatar-large white-box-with-shadow"/>
	    {% endif %}
	{% endif %}
      </div>

      {% if app.user %}
      {% if app.user.username == username %}
      <div class="spam3 offset8">
	<form action="{{ path('usr_profile', { 'userName': username }) }}" method="post" {{ form_enctype(form) }}>
	  <fieldset>
	    <legend>{{ 'Change Avatar' | trans }}</legend>
	  {{ form_widget(form) }}
	  <br>
	  <div class="clearfix btn-right">
	    <input type="submit" class="btn primary"  />
	  </div>
	  </fieldset>
	</form>
      </div>

      {% endif %}
      {% endif %}
    </div>
  </article>

  <article id="profile-images">
    <div class="row">
      <table class="zebra-striped">
	<thead>
          <tr>
            <th>{{ 'Preview' | trans }}</th>
            <th>{{ 'Title' | trans }}</th>
            <th>{{ 'Category' | trans }}</th>
            <th>{{ 'Action' | trans }}</th>
	    
	    {% if app.user and (app.user.username == username) %}
                 <th></th>
	    <th>{{ 'Pending Comments' | trans }}</th>
	    {% endif %}
          </tr>
	</thead>
	<tbody>

	  {% for image in images %}
	  <tr>
	    <td><a href="{{ path('img_view', {'user': username, 'slug': image.slug}) }}"><img src="/uploads/{{ image.url }}" class="img-thumbnail"/></a></td>
	    <td>{{ image.title }}</td>
	    <td>{{ image.category | capitalize | trans }}</td>
	    <td><a href="{{ path('img_view', {'user': username, 'slug': image.slug}) }}">{{ 'View' | trans }}</a></td>
	    {% if app.user %}
	    {% if app.user.username == username %}
	    <td><a href="{{ path('img_edit', {'id_image': image.idImage}) }}">{{ 'Edit' | trans }}</a></td>
	    <td><span class="comment-pending">{{ imagePendingComments(image.idImage) }}</span></td>
	    {% endif %}
	    {% endif %}

	  </tr>

	  {% else %}
	  <strong>{{ 'This user has not upload any picture' | trans }}</strong>
	  {% endfor %}
	</tbody>
      </table>
    </div>
  </article>

  <article id="profile-paginator">
    <div class="row">
      {{ simple_paginator_render('usr_profile', null, { 
      'routeParams': {'userName': username},
      'containerClass': 'profile-paginator',
      
      }
      ) }}
    </div>
  </article>

</section>

{% endblock %}

