<section id="comments" style="width:900px; text-align:left; ">
  <h2>{{ 'Comments' | trans }}</h2>
  <div class="comment" style="padding-top:10px">
    <table class="zebra-striped">
      {% for comment in image.imageComments %}
      <tr>
	<td>
	  <p><img src="{{ avatar(comment.user.id) }}" class="avatar-small"/></p>
	  <p class="text-with-shadow">{{ comment.user.username }}</p>
	</td>
	<td>
	  {{ comment.comment }}
	</td>
	<td>
	  <a href="#image-title" onclick="javascript:applyProposal({{ comment.brightness }},{{ comment.contrast }}, {{ comment.exposure }},{{ comment.saturation}})" class="btn info comment-proposal">{{ 'See Proposal' | trans }}</a>
	  {% if app.user and  app.user.id == comment.user.id %}
	  <a href="{{ path('comment_delete', {'idComment': comment.idComment}) }}"  class="btn danger comment-proposal">{{ 'Remove' | trans }}</a>
	  {% endif %}
	</td>
      </tr>
      {% else %}
      <h3>{{ 'There is no comment for this image. Be the first to comment' | trans }}</h3>
      {% endfor %}
    </table>
  </div>
</section>
