<aside class="span6 columns">

  {% if is_granted("IS_AUTHENTICATED_REMEMBERED") or is_granted("IS_AUTHENTICATED_FULLY") %}
  <form action="{{ path('comment', { 'idImage': image.idImage}) }}" class="form-stacked" method="post">
    {% endif %}
    
    <article id="modify-control">
      
      <div id="render-in-progress" style="display:none"> 
	<p>{{ 'Rendering' | trans }}... </p> 
	<img src="http://camanjs.com/imgs/ajax-loader.gif" id="preset-rendering" /> 
      </div> 
      
      <div class="accordion"> 
	<h3><a href="#"> {{ 'Brightness' | trans }}
	    <input type="text" id="bAmount" name="brightness" style="border:0" class="slider-data" style="background-color:transparent"/> / 
	    {{ 'Contrast' | trans }}
	    <input type="text" id="cAmount" name="contrast" style="border:0" class="slider-data" style="background-color:transparent"/> </a></h3> 
	<div> 
	  
	  <div id="sBrightness"></div> 
	  
	  <br/> 
	  
	  <div id="sContrast"></div> 
	  
	</div> 
	<h3><a href="#">{{ 'Exposure' | trans }}
	    <input type="text" id="aExposure" name="exposure" style="border:0" class="slider-data" style="background-color:transparent"/></a></h3> 
	<div> 
	  
	  <div id="sExposure"></div> 
	  
	</div> 
	
	<h3><a href="#">{{ 'Saturation' | trans }}
	    <input type="text" id="aSaturation" name="saturation" style="border:0" class="slider-data" style="background-color:transparent"/></a></h3> 
	<div> 
	  
	  <div id="sSaturation"></div> 
	  
	</div> 

      </div> 

    </article>

    <article id="exif-data">
      <div class="accordion"> 
	{{ getExif(image.url) | raw }}
      </div>
    </article>


    <!-- New Comment
	 ========================================== -->
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") or is_granted("IS_AUTHENTICATED_FULLY") %}
    <div id="newComment" style="padding-top:15px">
      
      {# <form action="{{ path('comment', { 'idImage': image.idImage}) }}" class="form-stacked" method="post"> #}
	<fieldset style="text-align:left">
	  <legend>{{ 'Comment' | trans }}!!!</legend>
	  <div class="clearfix">
	    <div class="input"> 
	      <textarea class="xxlarge" id="textarea" name="comment" style="width:300px;height:150px" required="required"></textarea> 
	      <span class="help-block"> 
	      </span> 
	    </div> 
	  </div>
	  <div class="actions"> 
	    <input type="submit" class="btn primary" value="{{ 'Save Changes' | trans }}">&nbsp;<button type="reset" class="btn" onclick="javascript:applyProposal(0,0,0,0)">{{ 'Cancel' | trans }}</button> 
	  </div> 
	</fieldset>
      </form>
      
    </div>
    {% else %}

    <div class="round-box-with-shadow" id="show-image-register">
      <p>¿A que esperas para <a href="{{ path('fos_user_registration_register') }}">registrarte</a>?, es totalmente <strong>gratis</strong></p>
      <p>o si ya tienes cuenta de usuario <a href="{{ path('fos_user_security_login') }}">accede ya</a>.</p>
    </div>


    {% endif %}

</aside>
