{% extends "SFMPicmntBundle::layout.html.twig" %}

{% form_theme form _self %}


{% block content %}

{{ parent() }}


<div class="row">
    <section class="span9">
	    <img src="{{ asset(image_url) }}" alt="image-to-modify"/> 
    </section>

    <section class="span3">
		
		<form  action="{{ path('img_edit', { 'id_image': image.idImage }) }}" method="post" {{ form_enctype(form) }} class="form-stacked">
			<fieldset>
				<legend>Edit Image</legend>
				{{ form_errors(form.title) }}
				{{ form_label(form.title, 'Title' | trans) }}
				{{ form_widget(form.title) }}

				{{ form_errors(form.description) }}
				{{ form_label(form.description, 'Description' | trans) }}
				{{ form_widget(form.description) }}

				{{ form_errors(form.category) }}
				{{ form_label(form.category, 'Category' | trans) }}
				{{ form_widget(form.category) }}

				{{ form_errors(form.notify_email) }}
				<label class="checkbox">
				{{ form_widget(form.notify_email) }} {{ 'Notify comments by email' | trans }}
				</label>


				{{ form_rest(form) }}

				<button type="reset" class="btn btn-danger">{{ 'Cancel' | trans }}</button>&nbsp;<input type="submit" class="btn btn-primary" id="edit-image" value="{{ 'Save Changes' | trans }}">
			</fieldset>
		</form>
    </section>
</div>
{% endblock %}
