{% set username = image.user.username %}
<div class="row">
  <article class="span8" id="imageInfo" style="text-align:left">
    <p>
      {% if existsAvatar(username) %}
	<img src="{{ avatarByUsername(username,'big') }}" class="avatar-small" />
	{% else %}
	    {% if gravatar_exists(getEmail(username)) %}
	        <img src="{{ gravatar(getEmail(username), 50) }}" class="avatar-small" />
	    {% else %}
	        <img src="{{ asset('/bundles/sfmpicmnt/images/user.svg') }}" class="avatar-small" />
	    {% endif %}
	{% endif %}
      {{ 'Author' | trans }}: <a href="{{ path('usr_profile', {'userName': image.user.username }) }}">{{ image.user.username }}</a>
      {% if app.user and  app.user.id == image.user.id  %}
      <td><a href="{{ path('img_edit', {'id_image': image.idImage}) }}" id="edit-btn" class="btn success">{{ 'Edit' | trans }}</a></td>
      {% endif %}
      <a href="#image-title" onclick="javascript:applyProposal(0,0,0,0)"  id="see-original" class="btn info">{{ 'See Original' | trans }}</a>
    </p>
    {{ 'Publication date' | trans}}: {{ image.pubDate | date() }}
  </article>
</div>

<div class="row">
  <article class="span8" id="image-description" style="text-align:left">
    <strong>
      {{ image.description }}
    </strong>
  </article>
</div>
