{% set username = image.user.username %}
<article class="span8" id="imageInfo" style="text-align:left">
  <div class="row">
    <div class="span1">
      {% if existsAvatar(username) %}
      <img src="{{ avatarByUsername(username,'big') }}" class="avatar-small" />
      {% else %}
      {% if gravatar_exists(getEmail(username)) %}
      <img src="{{ gravatar(getEmail(username), 50) }}" class="avatar-small" />
      {% else %}
      <img src="{{ asset('/bundles/sfmpicmnt/images/user.svg') }}" class="avatar-small" />
      {% endif %}
      {% endif %}
    </div>
    <div class="span4">
      {{ 'Author' | trans }}: <a href="{{ path('usr_profile', {'userName': image.user.username }) }}">{{ image.user.username }}</a>
      {% if app.user and  app.user.id == image.user.id  %}
      <a href="{{ path('img_edit', {'id_image': image.idImage}) }}" id="edit-btn"> | {{ 'Edit' | trans }}</a>
      {% endif %}
      <div class="row">
	<div class="span4">
	  {{ 'Publication date' | trans}}: {{ image.pubDate | date() }}
	</div>
      </div>
    </div>
    <div class="span3" style="text-align: right;">
      <a href="#image-title" onclick="javascript:applyProposal(0,0,0,0)"  id="see-original" class="btn info">{{ 'See Original' | trans }}</a>
    </div>
  </div>
</article>

<div class="row">
  <article class="span8" id="image-description" style="text-align:left">
    <strong>
      {{ image.description }}
    </strong>
  </article>
</div>
