{% extends "SFMPicmntBundle::layout.html.twig" %}

{% set category = app.request.get('category') %} 
{% set option = app.request.get('option') %}

{% block stylesheet %} 

  {{ parent() }}

  {% stylesheets filter='lessphp, ?yui_css' output='css/img-thumbs-picmnt.css' 
          '@SFMPicmntBundle/Resources/public/less/thumbs.less'
          '@SFMPicmntBundle/Resources/public/less/img_box.less' %}
  <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="all" />
  {% endstylesheets %}
  
{% endblock stylesheet %} 

{% block javascript %}
  {{ parent() }}

{% endblock javascript %}

{% block content %}
  {{ parent() }}

  <div class="clear"></div>

  <section id="image-section"  class="container container_12">

      <ul class="img-thumbs">
	  {% for image in images %}
	    {% set imageUrl =  '/uploads/' ~ image.url %}
	      <div class="thumbnail">
		  <div class="img-thumb">
		      <a href="{{ path('img_view', {'user': image.user.username, 'slug': image.slug}) }}"><img src="{{ imageUrl | imagine_filter('thumbnail') }}" alt="{{ image.title }}"/></a>
		      <div class="thumb-info">
			  {{ image.title | truncate(20) }}
		      </div>
		  </div>
	      </div>
	  {% endfor %}
      </ul>

  </section>
{% endblock content %}
