{% extends "SFMPicmntBundle::layout.html.twig" %}

{% block javascript %}
  {{ parent() }}

  {% javascripts filter='?yui_js'
      '@SFMPicmntBundle/Resources/public/js/picmnt.js' %}
        <script src="{{ asset_url }}"></script>
  {% endjavascripts %}

<script>

	{% if app.request.get('category') == '' %}
	   var category = 'all';
	{% else %}
	   var category = "{{ app.request.get('category') }}";
	{% endif %}

	{% if app.request.get('option') == '' %}
	   var option = 'recents';
	{% else %}
	   var option = "{{ app.request.get('option') }}";
	{% endif %}

	var username = '';

	var page = 1;

</script>

{% endblock javascript %}

{% block content %}
  {{ parent() }}

  <div class="clear"></div>

  <section id="image-section"  class="container container_12">
      {% include "SFMPicmntBundle:Image:thumbs.html.twig" with {'images': images, 'loadMore': loadMore} %}
  </section>

{% endblock content %}
