{% extends "SFMPicmntBundle::layout_private.html.twig" %}

{% block title %}
 | {{ app.request.get('option') | capitalize }} {{ app.request.get('category') | capitalize }}
{% endblock title %}

{% block javascript %}
  {{ parent() }}
    <script src="{{ asset('bundles/sfmpicmnt/CamanJS/caman.full.min.js') }}"> </script>
{% endblock javascript %}

{% block scripts %}
  {{ parent() }}

    <script type="text/javascript">
      function applyFilter(){
      
      var vBrightness = $( "#sBrightness" ).slider( "value" );
      var vContrast = $( "#sContrast" ).slider( "value" );
      var vSaturation = $( "#sSaturation" ).slider( "value" );
      var vExposure = $( "#sExposure" ).slider( "value" );

      //Caman.remoteProxy = "{{ asset('bundles/sfmpicmnt/CamanJS/proxies/caman_proxy.php') }}";

      Caman("#image-to-modify", function () {
      $( "#render-in-progress" ).show();
      this.revert(function(){
      this.brightness(vBrightness).contrast(vContrast).saturation(vSaturation).exposure(vExposure).render();
      $( "#render-in-progress" ).hide();
      });
      
      });
      };
    </script>

    <script type="text/javascript">
      function applyProposal(brightness, contrast, exposure, saturation){


          $( "#bAmount" ).val(brightness);
          $( "#cAmount" ).val(contrast);
          $( "#aExposure" ).val(exposure);
          $( "#aSaturation" ).val(saturation);

      $( "#sBrightness , #sContrast, #sSaturation, #sExposure" ).slider({
      change: null
      });

          $( "#sBrightness" ).slider( "value", brightness );
          $( "#sContrast" ).slider( "value", contrast );
          $( "#sExposure" ).slider( "value", exposure );
          $( "#sSaturation" ).slider( "value", saturation );

            $( "#sBrightness , #sContrast, #sSaturation, #sExposure" ).slider({
      change: applyFilter
      });


      applyFilter();

      document.location.href = '#image-title';

      };
    </script>


{% endblock scripts %}


{% block content %}


<section id="content" style="padding-top: 50px">
  <div class="container-fluid">
    
    <div style="background:#FFF">


      {% block interno %}
      <section id="pestanas">

	<div id="row">
	  {{ knp_menu_render('tabs', {'currentClass': 'active'}) }}
	</div>

      </section>

      {% endblock %}

      <center>
	<section id="show_image">
	  <div id="image-title">

	    {% set Next = '' %}
	    {% set Previous = '' %}

	    {% for page in paginator %}
	      {% if loop.index == '1' %}
	        {% if image.idImage != page %}
	          {% set Next =  path('img_show', {'option': 'last',  'idImage': page, 'category': app.request.get('category') })  %}
	        {% endif %}
	      {% else %}
	        {% if image.idImage > page %}
	          {% set Previous =  path('img_show', {'option': 'last', 'idImage':  page, 'category': app.request.get('category') })  %}
	        {% endif %}
	      {% endif %}
	    {% endfor %}

	    <h3>
	      {% if app.request.get('option') == 'last' %}
	        {% if Previous %}
	          <a href="{{ Previous }}">{{ 'Previous' | trans }}</a> |
	        {% else %}
                  {{ 'Previous' | trans }} |
	        {% endif %}
	      {% endif %}
	    </h3>
	    <h1>
	    <a href="{{ path('img_view', {'user': image.user.username, 'slug': image.slug}) }} ">{{ image.title }}</a>
	    </h1>
	    <h3>
	      {% if app.request.get('option') == 'last' %}
	        {% if Next %}
	          | <a href="{{ Next }}">{{ 'Next' | trans }} </a>
	        {% else %}
                  | {{ 'Next' | trans }} 
	        {% endif %} 
	      {% endif %}
	    </h3>
	  </div>
	  <br />

	  <div class="row">

	    <article class="span14 columns" id="imageImage">
	      <img src="{{ asset(upload_dir ~ image.url) }}" id="image-to-modify"/>
	      {% include "SFMPicmntBundle:Image:imageinfo.html.twig" %}
	    </article>
	    

	    <!-- Controls
		 ===========================
	      -->
	    {% include "SFMPicmntBundle:Image:controls.html.twig" %}

	  </div>

	</section>


	<!--  Comments
	      ==================================================================== -->
	{% include "SFMPicmntBundle:Image:comments.html.twig" %}

      </center>

    </div>
  </div>
</section>
{% endblock %}


