{% extends "SFMPicmntBundle::layout_private.html.twig" %}

{% block content %}


<section id="content" style="padding-top: 50px">
  <div class="container-fluid">
    
    <div style="background:#FFF">


      {% block interno %}
      <section id="pestanas">

	<div id="row">
	  {{ knp_menu_render('tabs', {'currentClass': 'active'}) }}
	</div>

      </section>

      {% endblock %}

      <center>
	<section id="show_image">
	  <div id="imageTitle">

	    {% set Next = '' %}
	    {% set Previous = '' %}

	    {% for page in paginator %}
	      {% if loop.index == '1' %}
	        {% if image.idImage != page %}
	          {% set Next =  path('_img_show', {'option': 'last',  'idImage': page })  %}
	        {% endif %}
	      {% else %}
	        {% if image.idImage > page %}
	          {% set Previous =  path('_img_show', {'option': 'last', 'idImage':  page })  %}
	        {% endif %}
	      {% endif %}
	    {% endfor %}

	    <h1>
	      {% if app.request.get('option') == 'last' %}
	        {% if Previous %}
	          <a href="{{ Previous }}">{{ 'Previous' | trans }}</a> |
	        {% else %}
                  {{ 'Previous' | trans }} |
	        {% endif %}
	      {% endif %}

	      {% if app.request.get('option') == 'show' %}
		  {{ image.title }}
	      {% else %}
		  {% if is_granted("IS_AUTHENTICATED_REMEMBERED") or is_granted("IS_AUTHENTICATED_FULLY") %}
		  <a href="{{ path('img_edit', {'id_image': image.idImage}) }} ">{{ image.title }}</a>
		  
		  {% else %}
		  <a href="{{ path('_img_show', {'option': 'show', 'idImage': image.idImage}) }} ">{{ image.title }}</a>
		  {% endif %}
	       {% endif %} 

	      {% if app.request.get('option') == 'last' %}
	        {% if Next %}
	          | <a href="{{ Next }}">{{ 'Next' | trans }} </a>
	        {% else %}
                  | {{ 'Next' | trans }} 
	        {% endif %} 
	      {% endif %}
	    </h1>
	  </div>
	  <br />

	  <div class="row">

	    <div class="span14 columns" id="imageImage">
	      <img src="/uploads{{ asset(image.url) }}" id="image-to-modify"/>
	    </div>
	    
	    <div class="span6 columns">

	      <!-- Controles
		   ===========================
		-->
	      
	      <div class="modify-control"  style="width:300px">
		
		<div id="render-in-progress" style="display:none"> 
		  <p>{{ 'Rendering' | trans }}... </p> 
		  <img src="http://camanjs.com/imgs/ajax-loader.gif" id="preset-rendering" /> 
		</div> 
		
		<div id="accordion"> 
		  <h3><a href="#"> {{ 'Brightness' | trans }}
		      <input type="text" id="bAmount" style="border:0" class="slider-data" style="background-color:transparent"/> / 
		      {{ 'Contrast' | trans }}
		      <input type="text" id="cAmount" style="border:0" class="slider-data" style="background-color:transparent"/> </a></h3> 
		  <div> 
		    
		    <div id="sBrightness"></div> 
		    
		    <br/> 
		    
		    <div id="sContrast"></div> 
		    
		  </div> 
		  <h3><a href="#">{{ 'Exposure' | trans }}
		      <input type="text" id="aExposure" style="border:0" class="slider-data" style="background-color:transparent"/></a></h3> 
		  <div> 
		    
		    <div id="sExposure"></div> 
		    
		  </div> 
		  
		  <h3><a href="#">{{ 'Saturation' | trans }}
		      <input type="text" id="aSaturation" style="border:0" class="slider-data" style="background-color:transparent"/></a></h3> 
		  <div> 
		    
		    <div id="sSaturation"></div> 
		    
		  </div> 
		</div> 

	      </div> 

	      <!-- Nuevo comentario
		   ========================================== -->
	      {% if is_granted("IS_AUTHENTICATED_REMEMBERED") or is_granted("IS_AUTHENTICATED_FULLY") %}
	      <div id="newComment" style="padding-top:15px">
		
		<form action="" class="form-stacked">
		  <fieldset style="text-align:left">
		    <legend>{{ 'Comment' | trans }}!!!</legend>
		    <div class="clearfix">
		      <div class="input"> 
			<textarea class="xxlarge" id="textarea" name="textarea" style="width:300px;height:150px"></textarea> 
			<span class="help-block"> 
			</span> 
		      </div> 
		    </div><!-- /clearfix --> 
		    <div class="actions"> 
		      <input type="submit" class="btn primary" value="{{ 'Save Changes' | trans }}">&nbsp;<button type="reset" class="btn">{{ 'Cancel' | trans }}</button> 
		    </div> 
		  </fieldset>
		</form>
		
	      </div>
	      {% endif %}
	    </div>

	  </div>

	  <!-- Info
	       ===================================================== -->
	  <div class="row">

	    <div class="span8 column" id="imageInfo" style="text-align:left">

	      <img src="img/moises.jpg" width="30px"/>

	      {{ 'Author' | trans }}:<a href="mis_img.html"> Moisés Gallego</a>

	      10/01/2011

	    </div>
	    
	  </div>

	  <div class="row">
	    <div class="span14 columns" id="imageDescription" style="text-align:left">
	      <strong>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut tempus sapien a purus convallis eu fringilla odio tincidunt. Nam lectus erat, viverra sit amet tempor sit amet, luctus eget ante. Quisque neque nisl, sodales id hendrerit et, mattis at lacus. Etiam ligula enim, egestas non fermentum id, interdum id augue. 
	      </strong>
	    </div>
	  </div>
	</section>


	<!--  Comentarios
	      ==================================================================== -->

	<section id="comments" style="width:900px; text-align:left; ">
	  <h2>{{ 'Comments' | trans }}</h2>
	  <div class="comment" style="padding-top:10px">
	    <table class="zebra-striped">
	      <tr>
		<td>
		  <img src="img/oscar.jpg"/>
		</td>
		<td>
		  vitae sapien a turpis laoreet scelerisque. Vivamus ut est nec neque sodales ultrices sit amet sed velit. Maecenas eu metus diam, nec dignissim massa. In sit amet mi turpis. Pellentesque ornare laoreet condimentum. Pellentesque nec ipsum non sem varius malesuada. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed iaculis massa sed odio lacinia posuere. Sed ut eros non urna pellentesque aliquet. Pellentesque consectetur vulputate ipsum non tristique. Sed ac odio massa. Nu
		  <div class="row" style="padding-top: 10px;">
		    <div class="span11 column"><p></p></div>
		    <div class="span2 column" style="text-align: left" >
		      <a href="#">{{ 'See Proposal' | trans }}</a>
		    </div>
		  </div>
		</td>
	      </tr>
	      <tr>
		<td>
		  <img src="img/moises.jpg"/>
		</td>
		<td>
		  us turpis, sed imperdiet dui mollis quis. Duis a sem sit amet nisl mattis interdum. Sed a massa sit amet sapien luctus pulvinar fringilla in justo. Sed vulputate quam augue. Quisque tempor arcu sollicitudin massa porttitor a venenatis felis faucibus.
		  <div class="row" style="padding-top: 10px;">
		    <div class="span11 column"><p></p></div>
		    <div class="span2 column" style="text-align: left" >
		      <a href="#">Ver Propuesta</a>
		    </div>
		  </div>

		</td>
	      </tr>
	    </table>
	  </div>

	  
	</section>

      </center>

    </div>
  </div>
</section>
{% endblock %}


