<div class="page-header">
	<h1>Recents <small>Last uploaded images</small></h1>
</div>
<ul class="thumbnails">
	{% for image in images %}
	{% set imageUrl =  '/uploads/' ~ image.url %}
	<li class="span3">
		<div class="thumbnail">
			<a href="{{ path('img_view', {'user': image.user.username, 'slug': image.slug}) }}"><img src="{{ imageUrl | imagine_filter('thumbnail') }}" alt="{{ image.title }}"/></a>
			<div>
				<a href="{{ path('img_view', {'user': image.user.username, 'slug': image.slug}) }}"><h5>{{ image.title | truncate(20) }}</h5></a>
				<p>
					{% trans %}By{% endtrans %}: <a href="{{ path('usr_profile', {'userName': image.user.username }) }}">
						{{ image.user.username | truncate(20)}}
					</a>
				</p>
		    </div>
		</div>
	</li>
	{% endfor %}
</ul>

{% if loadMore %}
<div id="load-more-thumbs" class="grid_2 prefix_5">
	<a href="javascript:loadMoreThumbs()">{% trans %}Load More{% endtrans %}</a>
</div>
{% endif %}
