{% extends "SFMPicmntBundle::layout.html.twig" %}
{% block content %}

{{ 'Please insert the URL of the image' | trans }}


<form action="{{ path('img_upload') }}" method="post" {{ form_enctype(form) }}>

  <div>
    {{  form_label(form.url , 'Url' | trans ) }}
    {{ form_widget(form.url) }}
  </div>

  <input type="submit" />

</form>
  
{% endblock %}

