{% extends "SFMPicmntBundle::layout.html.twig" %}

{% block javascript %}
{{ parent() }}
<script src="{{ asset('bundles/sfmpicmnt/js/upload.js') }}"></script>

{% endblock javascript %}

{% block content %}
{{ parent() }}


<section class="row">

    <article class="row">
		<div class="span6 text-center">
			<output id="list"></output>
			<ul id="thumbs" class="thumbnails">
			</ul>
		</div>

		<div class="span5 offset1 text-center">			

			{% if form_errors(form) %}
			{{ form_errors(form) }}
			{% endif %}

			<form  action="{{ path('img_upload') }}" method="POST" {{ form_enctype(form) }} >
				<fieldset>
					<legend>{{ 'Upload Image' | trans }}</legend>
					{{ form_widget(form.dataFile) }}

					{{ form_rest(form) }}
					<span class="help-block">				{{ 'Remember that the images you upload must be of your property.' | trans }}
						{{ 'It is forbidden to upload images of nude or erotic.' | trans }}
					</span>
					<div class="row">
						<input id="upload" type="submit" class="btn-large btn btn-primary" value="{{ 'Upload' | trans }}"/>
					</div>
				</fieldset>
			</form>
		</div>
    </article>

</section>
{% endblock %}
