{% extends "SFMPicmntBundle::layout.html.twig" %}

{% block content %}
  {{ parent() }}

  <section id="upload"  class="container container_12">

      <div class="clear">
      </div>

      <article id="upload-info" class="grid_4 prefix_4">
	  <p>
	      {{ 'Remember that the images you upload must be of your property.' | trans }}
	  </p>
	  <p>
	      {{ 'It is forbidden to upload images of nude or erotic.' | trans }}
	  </p>
      </article>

      <article class="grid_4 prefix_4">

	  {% if form_errors(form) %}
	    {{ form_errors(form) }}
	  {% endif %}

	  <h2 class="form-title">{{ 'Please select an image' | trans }}</h2>
	  <form  action="{{ path('img_upload') }}" method="POST" {{ form_enctype(form) }} >
	      <fieldset>
{#		  {{ form_label(form.dataFile , 'Url' | trans ) }} #}
		  {{ form_widget(form.dataFile) }}

		  {{ form_rest(form) }}

		  <input type="submit" class="button accept-button"/>
	      </fieldset>
	  </form>
      </article>
  </section>
{% endblock %}

