{% extends "SFMPicmntBundle::layout_private.html.twig" %}

{% form_theme form 'SFMPicmntBundle::form.html.twig' %}

{% block content %}

<section id="content" style="padding-top: 50px" class="container-fluid">
  {% block interno %}
  <section id="pestanas">
    <div id="row">
      {{ knp_menu_render('tabs', {'currentClass': 'active'}) }}
    </div>
  </section>
  {% endblock %}
  
  <div class="row">

    <article class="span8 offset5">
      <form id="upload_form" action="{{ path('img_upload') }}" method="post" {{ form_enctype(form) }} >
	<fieldset>
	  <legend>{{ 'Please select an image' | trans }}</legend>
	  {{ form_errors(form) }}
	  <div>
	    {% if form_errors(form.dataFile) %}
	    <div class="alert-message error">
	      <div id="upload-error">
		{{ form_errors(form.dataFile) }}
	      </div>
	    </div>
	    {% endif %}
	    {{ form_label(form.dataFile , 'Url' | trans ) }}
	    {{ form_widget(form.dataFile) }}
	  </div>
	  {{ form_rest(form) }}
	  <div class="clearfix" style="text-align:right">
	    <input type="submit" id="upload" class="btn primary"/>
	  </div>
	</fieldset>
      </form>
    </article>

    <artcile id="upload-restrictions" class="span8 offset5">
      <p>
	{{ 'The size of the image must be a maximum of 300Kb. Approximately 1024px on its longest side.' | trans }}
      </p>
    </artcile>

  </div>
</section>

{% endblock %}

