{% extends "SFMPicmntBundle::layout_private.html.twig" %}

{% block title %}
 | {{ image.title }}
{% endblock title %}

{% block javascript %}
  {{ parent() }}
    <script src="{{ asset('bundles/sfmpicmnt/CamanJS/caman.full.min.js') }}"> </script>
{% endblock javascript %}

{% block scripts %}
  {{ parent() }}

    <script type="text/javascript">
      function applyFilter(){
      
      var vBrightness = $( "#sBrightness" ).slider( "value" );
      var vContrast = $( "#sContrast" ).slider( "value" );
      var vSaturation = $( "#sSaturation" ).slider( "value" );
      var vExposure = $( "#sExposure" ).slider( "value" );

      //Caman.remoteProxy = "{{ asset('bundles/sfmpicmnt/CamanJS/proxies/caman_proxy.php') }}";

      Caman("#image-to-modify", function () {
      $( "#render-in-progress" ).show();
      this.revert(function(){
      this.brightness(vBrightness).contrast(vContrast).saturation(vSaturation).exposure(vExposure).render();
      $( "#render-in-progress" ).hide();
      });
      
      });
      };
    </script>

    <script type="text/javascript">
      function applyProposal(brightness, contrast, exposure, saturation){


          $( "#bAmount" ).val(brightness);
          $( "#cAmount" ).val(contrast);
          $( "#aExposure" ).val(exposure);
          $( "#aSaturation" ).val(saturation);

      $( "#sBrightness , #sContrast, #sSaturation, #sExposure" ).slider({
      change: null
      });

          $( "#sBrightness" ).slider( "value", brightness );
          $( "#sContrast" ).slider( "value", contrast );
          $( "#sExposure" ).slider( "value", exposure );
          $( "#sSaturation" ).slider( "value", saturation );

            $( "#sBrightness , #sContrast, #sSaturation, #sExposure" ).slider({
      change: applyFilter
      });


      applyFilter();

      document.location.href = '#image-title';

      };
    </script>


{% endblock scripts %}


{% block content %}


<section id="content" style="padding-top: 50px">
  <div class="container">
    
    <div style="background:#FFF">


      {% block interno %}
      <section id="pestanas">

	<div id="row">
	  {{ knp_menu_render('tabs', {'currentClass': 'active'}) }}
	</div>

      </section>

      {% endblock %}

      <center>
	<section id="show_image">
	  	  
	  <div id="image-title">
	    <h1>
	    {{ image.title }}
	    </h1>
	  </div>
	  <br />


	  <div class="row">

	    <article class="span9" id="imageImage">
	      <img src="{{ asset(upload_dir ~ image.url) }}" id="image-to-modify"/>
	     {% include "SFMPicmntBundle:Image:imageinfo.html.twig" %}
	      {% include "SFMPicmntBundle:Image:comments.html.twig" %}
	    </article>

	    <!-- Controls
		 ===========================
	      -->
	    {% include "SFMPicmntBundle:Image:controls.html.twig" %}

	  </div>

	</section>



      </center>

    </div>
  </div>
</section>
{% endblock %}


