{% extends "SFMPicmntBundle::layout.html.twig" %}

{% block javascript %}
  {{ parent() }}

  {% stylesheets filter='less, ?yui_css' output='css/picmnt.css' 
          '@SFMPicmntBundle/Resources/public/less/view_image.less' %}
  <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="all" />
  {% endstylesheets %}

  <script src="{{ asset('bundles/sfmpicmnt/libs/waypoints.min.js') }}"></script>
{% endblock javascript %}

{% block content %}
  {{ parent() }}

  <div class="clear"></div>

  <section id="image-section"  class="container container_12">
      <div class="grid_12">
	  <h1 id="image-title">{{ image.title }}</h1>
      </div>

      <div class="clear"></div>
  
      <article id="image" class="grid_9"> 
	  {# <img src="http://pcdn.500px.net/22932653/12b47fc53ef8d48a1d731807c27e3c5485b36d96/4.jpg" id="image-to-modify" alt="{{image.title}}">  #}
	  <img src="http://pcdn.500px.net/23010177/bd2ba092a30565032f4ab287cecfc714a6962524/4.jpg" id="image-to-modify" alt="{{image.title}}"> 
	  {# <img src="{{ asset(upload_dir ~ image.url) }}" id="image-to-modify" alt="{{image.title}}"> #}
      </article>

      <article id="img-author" class="grid_3 img-box">
	  <h2>
	      <a href="{{ path('usr_profile', {'userName': image.user.username }) }}">{{ image.user.username }}</a>
	  </h2>
	  <span class="author-avatar">
	      <img src="http://acdn.500px.net/26121.jpg" alt="user-avatar" />
	  </span>
      </article>

      <article id="img-description" class="grid_3 img-box">
	  <p>
	      {{ image.description }}
	  </p>
      </article>

      <article id="img-sucks-rocks" class="grid_3 img-box">
	  <ul>
	      <li>
		  <a href="" class="like"></a>
	      <li>
		  <a href="" class="dislike"></a>
	      </li>
	  </ul>
      </article>

      <article id="img-controls" class="grid_3 img-box">
	  <div>
	      sliders
	  </div>
      </article>

      <article id="img-info" class="grid_3 img-box"> 
	  <ul>
	      <li class="pub-date">
		  <span class="info-key">{% trans %}Uploaded{% endtrans %}:</span> {{ image.pubDate | date() }}
	      </li>
	      <li class="category">
		  <span class="info-key">{% trans %}Category{% endtrans %}:</span> {{ image.category }}
	      </li>
	  </ul>
      </article>


  </section>

  <div class="clear"></div>
  <hr id="separator"/>

  <section id="comments-section" class="container container_12">

      <div id="comments-title" class="grid_2 prefix_5 suffix_5">
	  <h2>Comments</h2>
      </div>
      <div class="clear"></div>
      
      <article id="comment-form" class="grid_4 prefix_4 suffix_4">
	  
	  <form action="{{ path('comment', { 'idImage': image.idImage}) }}" class="form-stacked" method="post">
	      <div class="input" > 
		  <textarea placeholder="Insert your comment here" class="textarea" name="comment" required="required"></textarea> 
		  <span class="help-block"> 
		  </span> 
		  <input type="submit" value="{{ 'Save Changes' | trans }}">&nbsp;
		  <button type="reset" class="btn" onclick="javascript:applyProposal(0,0,0,0)">{{ 'Cancel' | trans }}</button> 
	      </div> 

	  </form>
      </article>
      <div class="clear"></div>

      <article id="image-comment" class="grid_6 prefix_6"> 
	  <img src="{{ asset(upload_dir ~ image.url) }}" id="image-to-comment" alt="{{image.title}}">
      </article>

      <article id="comments">
	  {% if image.imageComments | length > 0  %}
	    <div id="show-image-to-comment"></div>
	  {% endif %}
	  
	  {% for comment in image.imageComments %}
	    {% set username = comment.user.username %}
	    <article id="comment-{{ loop.index }}" class="comment grid_6 suffix_6">
		<a class="link-to-comment" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}#comment-{{ loop.index }}">#{{ loop.index }}</a>
		<p>
		    Author: <a href="{{ path('usr_profile', {'userName': comment.user.username }) }}">{{ username }}</a>
		</p>
		<p>
		    Date: {{ image.pubDate | date() }}
		</p>
		<p>
		    Comment: 
		</p>
		<div class="comment-text">
		    {{ comment.comment | nl2br }}
		</div>
		<hr/>
	    </article>
	  {% else %}
	    <h3 class="grid_12">{{ 'There is no comment for this image. Be the first to comment' | trans }}</h3>
	  {% endfor %}
      </article>
  </section>
  <br/>
{% endblock content %}
