{% extends "SFMPicmntBundle::layout.html.twig" %}


{% block stylesheet %} 

  {{ parent() }}

  {% stylesheets filter='less, ?yui_css' output='css/img-picmnt.css' 
          '@SFMPicmntBundle/Resources/public/less/view_image.less'
          '@SFMPicmntBundle/Resources/public/less/comments.less'
          '@SFMPicmntBundle/Resources/public/less/forms.less'
          '@SFMPicmntBundle/Resources/public/less/img_box.less' %}
  <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="all" />
  {% endstylesheets %}

  <link href="{{ asset('bundles/sfmpicmnt/css/ui-lightness/jquery-ui-1.10.0.custom.css') }}" rel="stylesheet">

{% endblock stylesheet %} 

{% block javascript %}
  {{ parent() }}

  <script src="{{ asset('bundles/sfmpicmnt/js/jquery-ui-1.10.0.custom.min.js') }}"></script>
  <script src="{{ asset('bundles/sfmpicmnt/libs/waypoints.min.js') }}"></script>
  <script src="{{ asset('bundles/sfmpicmnt/libs/caman.full.min.js') }}"></script>
  
  {% javascripts filter='?yui_js'
      '@SFMPicmntBundle/Resources/public/js/image.js' %}
        <script src="{{ asset_url }}"></script>
  {% endjavascripts %}

  <script>
      Caman.remoteProxy = "{{ asset('bundles/sfmpicmnt/libs/caman_proxy.php') }}";
  </script>

{% endblock javascript %}

{% block content %}
  {{ parent() }}

  <div class="clear"></div>

  <section id="image-section"  class="container container_12">

      <div class="grid_12">
	  <h1 id="image-title">{{ image.title }}</h1>
      </div>

      <div class="clear"></div>
  
      {#    ###############              MAIN SECTION      ###############      #}
      <section id="main" class="grid_9">

	  <article id="image" > 
	      <img src="http://pcdn.500px.net/22932653/12b47fc53ef8d48a1d731807c27e3c5485b36d96/4.jpg" id="image-to-modify" alt="{{image.title}}">
	      {# <img src="http://pcdn.500px.net/23010177/bd2ba092a30565032f4ab287cecfc714a6962524/4.jpg" id="image-to-modify" alt="{{image.title}}"> #} 
	      {# <img src="{{ asset(upload_dir ~ image.url) }}" id="image-to-modify" alt="{{image.title}}"> #}
	  </article>

	  <article id="comments">
	      <form action="{{ path('comment', { 'idImage': image.idImage}) }}" class="form-stacked" method="post">
		  <textarea placeholder="Add your comment..." class="textarea" name="comment" required="required"></textarea> 
		  <button class="button cancel-button" type="reset"  onclick="javascript:applyProposal(0,0,0,0)">{{ 'Cancel' | trans }}</button> 
		  <input class="button accept-button" type="submit" value="{% trans %}Comment{% endtrans %}">&nbsp;
	      </form>
	      
	      {#  ################   COMMENTS   ################## #}

	      {% if image.imageComments | length > 0  %}
		<div id="show-image-to-comment"></div>
	      {% endif %}
	      
	      {% for comment in image.imageComments %}
		{% set username = comment.user.username %}
	      <article id="comment-{{ loop.index }}">
		  <a class="link-to-comment" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}#comment-{{ loop.index }}">#{{ loop.index }}</a>
		  <p>
		      {% trans %}Author{% endtrans %}: <a href="{{ path('usr_profile', {'userName': comment.user.username }) }}">{{ username }}</a>
		  </p>
		  <p>
		      {% trans %}Date{% endtrans %}: {{ image.pubDate | date() }}
		  </p>
		  <p>
		      {% trans %}Comment{% endtrans %}: 
		  </p>
		  <div class="comment-text">
		      {{ comment.comment | nl2br }}
		  </div>
		  <hr/>
	      </article>
	    {% else %}
	      <h3 class="grid_12">{{ 'There is no comment for this image. Be the first to comment' | trans }}</h3>
	    {% endfor %}
	  </article>

      </section>

      {#    ###############              info SECTION      ###############      #}
      <section id="info" class="grid_3">

	  <div id="img-author" class="img-box">
	      <h2><a href="{{ path('usr_profile', {'userName': image.user.username }) }}">{{ image.user.username }}</a></h2>
	      <img src="http://acdn.500px.net/26121.jpg" alt="user-avatar" />
	  </div>


	  {# <div id="img-sucks-rocks" class="img-box">
	      <ul>
		  <li>
		      <a href="" class="like"></a>
		  <li>
		      <a href="" class="dislike"></a>
		  </li>
	      </ul>
	  </div> #}

	  <div  id="img-controls" class="img-box">
	      <div class="control-data">
		  <span class="control-title">
		      {% trans %}Brightness{% endtrans %}:
		  </span>
		  <input type="text" id="brightness-amount" name="brightness"  class="slider-data"/>
	      </div>

	      <div id="slider-brightness" class="slider"></div>

	      <div class="control-data">
		  <span class="control-title">
		      {% trans %}Contrast{% endtrans %}:
		  </span>
		  <input type="text" id="contrast-amount" name="contrast"  class="slider-data"/>
	      </div>

	      <div id="slider-contrast" class="slider"></div>

	      <div class="control-data">
		  <span class="control-title">
		      {% trans %}Exposure{% endtrans %}:
		  </span>
		  <input type="text" id="exposure-amount" name="exposure"  class="slider-data"/>
	      </div>

	      <div id="slider-exposure" class="slider"></div>

	      <div class="control-data">
		  <span class="control-title">
		      {% trans %}Saturation{% endtrans %}:
		  </span>
		  <input type="text" id="saturation-amount" name="saturation"  class="slider-data"/>
	      </div>

	      <div id="slider-saturation" class="slider"></div>
	  </div>
	  {% if image.description is defined %}
	    <div id="img-description" class="img-box">
		<p>{{ image.description }}</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis cursus, felis eget malesuada gravida, ipsum leo iaculis augue, quis condimentum massa nisl ac enim. Praesent at elementum nisl. Fusce ullamcorper, ligula vel pharetra mattis, arcu turpis luctus erat, id interdum ipsum dolor vitae enim. Cras imperdiet volutpat adipiscing. Pellentesque fringilla, quam in viverra interdum, nunc elit fringilla neque, non placerat felis massa eget leo. Aenean sagittis ante urna. Etiam auctor feugiat augue, at porta quam pretium ac. Proin suscipit dapibus risus a euismod. Vivamus vehicula vestibulum tellus, placerat lobortis neque pharetra nec.

Nullam a quam non nisl condimentum sodales ut vel eros. Praesent convallis laoreet risus nec sagittis. Sed lobortis eleifend accumsan. Duis ultrices erat ac justo gravida suscipit. Integer ultrices massa quis mauris mollis accumsan non ut odio. Mauris iaculis feugiat dui id venenatis. Maecenas et lectus sed erat malesuada pharetra. Duis at orci vitae tortor ultricies bibendum. Duis quis lectus nunc. Integer convallis bibendum urna, id gravida mauris cursus id. Vivamus feugiat nulla et dui eleifend et scelerisque leo sodales. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Quisque congue, orci in ultricies convallis, nisl libero hendrerit elit, a blandit urna enim ac dui. Integer consequat, orci eu fermentum fermentum, mi ante mollis dui, et rutrum neque eros vel nibh. Fusce vestibulum, enim id lobortis consectetur, tortor metus accumsan neque, vel auctor eros libero quis magna. Nunc pellentesque condimentum odio non lacinia.
		</p>
	    </div>
	  {% endif %}

	  <div id="img-info" class="img-box"> 
	      <ul>
		  <li class="pub-date">
		      <span class="info-key">{% trans %}Uploaded{% endtrans %}:</span> {{ image.pubDate | date() }}
		  </li>
		  <li class="category">
		      <span class="info-key">{% trans %}Category{% endtrans %}:</span> {{ image.category }}
		  </li>
	      </ul>
	  </div>
  
    </section>


  </section>
{% endblock content %}
