{% extends "SFMPicmntBundle::layout.html.twig" %}

{% block javascript %}
  {{ parent() }}

  <script src="{{ asset('bundles/sfmpicmnt/libs/waypoints.min.js') }}"></script>
  <script src="{{ asset('bundles/sfmpicmnt/js/picmnt_new.js') }}"></script>
{% endblock javascript %}

{% block content %}
  {{ parent() }}

  <div class="clear"></div>

  <section id="image-section">

      <article id="image" class="grid_6"> 
	  <img src="{{ asset(upload_dir ~ image.url) }}" id="image-to-modify" alt="{{image.title}}">
      </article>

      <article id="image-info" class="grid_6"> 
	  <h1 id="image-title">{{ image.title }}</h1>
	  <p>
	      Author: <a href="{{ path('usr_profile', {'userName': image.user.username }) }}">{{ image.user.username }}</a>
	  </p>
	  <p>
	      Date: {{ image.pubDate | date() }}
	  </p>
	  <p>
	      Description: 
	  </p>
	  <div class="image-extra-info">
	      {{ image.description }}
	  </div>
	  <p>
	      Category: {{ image.category }}
	  </p>
      </article>
  </section>

  <div class="clear"></div>
  <hr id="separator"/>

  <section id="comments-section" class="container container_12">

      <div id="comments-title" class="grid_2 prefix_5 suffix_5">
	  <h2>Comments</h2>
      </div>
      <div class="clear"></div>
      
      <article id="comment-form" class="grid_4 prefix_4 suffix_4">
	  
	  <form action="{{ path('comment', { 'idImage': image.idImage}) }}" class="form-stacked" method="post">
	      <div class="input" > 
		  <textarea placeholder="Insert your comment here" class="textarea" name="comment" required="required"></textarea> 
		  <span class="help-block"> 
		  </span> 
		  <input type="submit" value="{{ 'Save Changes' | trans }}">&nbsp;
		  <button type="reset" class="btn" onclick="javascript:applyProposal(0,0,0,0)">{{ 'Cancel' | trans }}</button> 
	      </div> 

	  </form>
      </article>
      <div class="clear"></div>

      <article id="image-comment" class="grid_6 prefix_6"> 
	  <img src="{{ asset(upload_dir ~ image.url) }}" id="image-to-comment" alt="{{image.title}}">
      </article>

      <article id="comments">
	  {% if image.imageComments | length > 0  %}
	    <div id="show-image-to-comment"></div>
	  {% endif %}
	  
	  {% for comment in image.imageComments %}
	    {% set username = comment.user.username %}
	    <article id="comment-{{ loop.index }}" class="comment grid_6 suffix_6">
		<a class="link-to-comment" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}#comment-{{ loop.index }}">#{{ loop.index }}</a>
		<p>
		    Author: <a href="{{ path('usr_profile', {'userName': comment.user.username }) }}">{{ username }}</a>
		</p>
		<p>
		    Date: {{ image.pubDate | date() }}
		</p>
		<p>
		    Comment: 
		</p>
		<div class="comment-text">
		    {{ comment.comment | nl2br }}
		</div>
		<hr/>
	    </article>
	  {% else %}
	    <h3 class="grid_12">{{ 'There is no comment for this image. Be the first to comment' | trans }}</h3>
	  {% endfor %}
      </article>
  </section>
  <br/>
{% endblock content %}
