{% extends "SFMPicmntBundle::layout.html.twig" %}


{% block stylesheet %} 

  {{ parent() }}

  {% stylesheets filter='less, ?yui_css' output='css/img-picmnt.css' 
          '@SFMPicmntBundle/Resources/public/less/view_image.less'
          '@SFMPicmntBundle/Resources/public/less/comments.less'
          '@SFMPicmntBundle/Resources/public/less/forms.less'
          '@SFMPicmntBundle/Resources/public/less/img_box.less' %}
  <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="all" />
  {% endstylesheets %}

  <link href="{{ asset('bundles/sfmpicmnt/css/ui-lightness/jquery-ui-1.10.0.custom.css') }}" rel="stylesheet">

{% endblock stylesheet %} 

{% block javascript %}
  {{ parent() }}

  <script src="{{ asset('bundles/sfmpicmnt/js/jquery-ui-1.10.0.custom.min.js') }}"></script>
  <script src="{{ asset('bundles/sfmpicmnt/libs/waypoints.min.js') }}"></script>
  <script src="{{ asset('bundles/sfmpicmnt/libs/caman.full.min.js') }}"></script>
  
  {% javascripts filter='?yui_js'
      '@SFMPicmntBundle/Resources/public/js/image.js' %}
        <script src="{{ asset_url }}"></script>
  {% endjavascripts %}

{#  <script>
      Caman.remoteProxy = "{{ asset('bundles/sfmpicmnt/libs/caman_proxy.php') }}";
  </script>
#}

{% endblock javascript %}

{% block content %}
  {{ parent() }}

  {% if paginator is defined %}
    {% set Next = '' %}
    {% set Previous = '' %}
  
    {% for page in paginator %}
      {% if loop.index == '1' %}
	{% if image.idImage != page %}
	  {% set Next =  path('img_show', {'option': 'last',  'idImage': page, 'category': app.request.get('category') })  %}
	{% endif %}
      {% else %}
	{% if image.idImage > page %}
	  {% set Previous =  path('img_show', {'option': 'last', 'idImage':  page, 'category': app.request.get('category') })  %}
	{% endif %}
      {% endif %}
    {% endfor %}
  {% endif %}

  <form action="{{ path('comment', { 'idImage': image.idImage}) }}" class="form-stacked" method="post">
  <div class="clear"></div>

  <section id="image-section"  class="container container_12">

      <div id="image-title" class="grid_12">
	  <a href="#" id="see-original" class="button accept-button" onclick="javascript:seeOriginal()">{% trans %}View Original{% endtrans %}</a>
	  <h1>
	      {% if paginator is defined %}
		<a href="{{ path('img_view', {'user': image.user.username, 'slug': image.slug}) }} ">{{ image.title }}</a>
	      {% else %}
		{{ image.title }}
	      {% endif %}
	  </h1>
      </div>

      <div class="clear"></div>
  
      {#    ###############              MAIN SECTION      ###############      #}
      <section id="main" class="grid_9">


	  <article id="image" >
 	      <span id="previous-link">
	      {% if paginator is defined and app.request.get('option') == 'last' %}
		{% if Previous %}
		  <a id="previous" href="{{ Previous }}"><<</a>
		{% endif %}
	      {% endif %}
	      </span>
	      <img src="{{ asset(upload_dir ~ image.url) }}" id="image-to-modify" alt="{{image.title}}"> 
	      <span id="next-link">
	      {% if paginator is defined and  app.request.get('option') == 'last' %}
		{% if Next %}
		  <a id="next" href="{{ Next }}">>></a>
		{% endif %} 
	      {% endif %}
	      </span>
	  </article>	 
 
	  <article id="comments">
	      <textarea placeholder="Add your comment..." class="textarea" name="comment" required="required"></textarea> 
	      <button class="button cancel-button" type="reset"  onclick="javascript:applyProposal(0,0,0,0)">{{ 'Cancel' | trans }}</button> 
	      <input class="button accept-button" type="submit" value="{% trans %}Send Comment{% endtrans %}">&nbsp;
	      
	      {#  ################   COMMENTS   ################## #}

	      {% if image.imageComments | length > 0  %}
		<div id="show-image-to-comment"></div>
	      {% endif %}
	      
	      <ul>
	      {% for comment in image.imageComments %}
		{% set username = comment.user.username %}
		
		<li id="comment-{{ loop.index }}" class="comment">
		  <a class="link-to-comment" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}#comment-{{ loop.index }}">#{{ loop.index }}</a>

		  <span>
		      {# try to create a twig function #}

		      {% if existsAvatar(username) %}
			<img src="{{ avatarByUsername(username,'small') }}" class="avatar-small" alt="avatar-small" />
		      {% else %}
			{% if gravatar_exists(getEmail(username)) %}
			  <img src="{{ gravatar(getEmail(username), 50) }}" class="avatar-small" alt="avatar-small"/>
			{% else %}
			  <img src="{{ asset('/bundles/sfmpicmnt/images/default_user50x50.png') }}" class="avatar-small" alt="avatar-small" />
			{% endif %}
		      {% endif %}
		      <a href="{{ path('usr_profile', {'userName': comment.user.username }) }}">{{ username }}</a>
		      <span class="comment-date">{{ image.pubDate | date() }}</span>
		  </span>
		  <div class="comment-text">
		      {{ comment.comment | nl2br }}
		  </div>
		  
		  {% if comment.brightness != 0 or comment.contrast != 0 or comment.exposure != 0 or comment.saturation != 0 %}
		    <a class="see-proposal" href="#image-title" onclick="javascript:applyProposal({{ comment.brightness }},{{ comment.contrast }}, {{ comment.exposure }},{{ comment.saturation}})" >{{ 'See Proposal' | trans }}</a>
		    {% endif %}
		</li>

	    {% else %}
	      <h3 class="grid_12">{{ 'There is no comment for this image. Be the first to comment' | trans }}</h3>
	    {% endfor %}

	      </ul>
	  </article>

      </section>

      {#    ###############              info SECTION      ###############      #}
      <section id="info" class="grid_3">

	  <div id="img-author" class="img-box">
	      <h2><a href="{{ path('usr_profile', {'userName': image.user.username }) }}">{{ image.user.username }}</a></h2>

		      {% if existsAvatar(image.user.username) %}
			<img src="{{ avatarByUsername(image.user.username,'big') }}" alt="avatar"/>
		      {% else %}
			{% if gravatar_exists(getEmail(image.user.username)) %}
			  <img src="{{ gravatar(getEmail(image.user.username), 100) }}" alt="avatar" />
			{% else %}
			  <img src="{{ asset('/bundles/sfmpicmnt/images/default_user100x100.png') }}" alt="avatar"/>
			{% endif %}
		      {% endif %}
	  </div>

	  {% if app.user and  app.user.id == image.user.id  %}
	    <div id="img-actions" class="img-box">
		<ul>
		    <li><a href="{{ path('img_edit', {'id_image': image.idImage}) }}"  class="button cancel-button">{% trans %}Edit{% endtrans %}</a></li>
		    <li><a href="{{ path('img_delete', { 'idImage': image.idImage }) }}"  class="button danger-button">{% trans %}Remove{% endtrans %}</a></li>
		</ul>
	    </div>
	    {% endif %}
	  {# <div id="img-sucks-rocks" class="img-box">
	      <ul>
		  <li>
		      <a href="" class="like"></a>
		  <li>
		      <a href="" class="dislike"></a>
		  </li>
	      </ul>
	  </div> #}

	  <div  id="img-controls" class="img-box">
	      <div class="control-data">
		  <span class="control-title">
		      {% trans %}Brightness{% endtrans %}:
		  </span>
		  <input type="text" id="brightness-amount" name="brightness"  class="slider-data"/>
	      </div>

	      <div id="slider-brightness" class="slider"></div>

	      <div class="control-data">
		  <span class="control-title">
		      {% trans %}Contrast{% endtrans %}:
		  </span>
		  <input type="text" id="contrast-amount" name="contrast"  class="slider-data"/>
	      </div>

	      <div id="slider-contrast" class="slider"></div>

	      <div class="control-data">
		  <span class="control-title">
		      {% trans %}Exposure{% endtrans %}:
		  </span>
		  <input type="text" id="exposure-amount" name="exposure"  class="slider-data"/>
	      </div>

	      <div id="slider-exposure" class="slider"></div>

	      <div class="control-data">
		  <span class="control-title">
		      {% trans %}Saturation{% endtrans %}:
		  </span>
		  <input type="text" id="saturation-amount" name="saturation"  class="slider-data"/>
	      </div>

	      <div id="slider-saturation" class="slider"></div>
	  </div>
	  {% if image.description %}
	    <div id="img-description" class="img-box">
		<p>{{ image.description }}</p>
	    </div>
	  {% endif %}

	  <div id="img-info" class="img-box"> 
	      <ul>
		  <li class="pub-date">
		      <span class="info-key">{% trans %}Uploaded{% endtrans %}:</span> {{ image.pubDate | date() }}
		  </li>
		  <li class="category">
		    <span class="info-key">{% trans %}Category{% endtrans %}:</span>
		    <a href="{{ path('img_show', { 'option': 'recents', 'category': image.category}) }}">{{ image.category }}</a>
		  </li>
	      </ul>
	  </div>
  
    </section>


  </section>
  </form>
{% endblock content %}
