{% extends "SFMPicmntBundle::layout.html.twig" %}

{% block stylesheet %}

{{ parent() }}

<link href="{{ asset('bundles/sfmpicmnt/css/ui-lightness/jquery-ui-1.10.0.custom.css') }}" rel="stylesheet">

{% endblock stylesheet %} 

{% block javascript %}
{{ parent() }}

<script src="{{ asset('bundles/sfmpicmnt/js/jquery-ui-1.10.0.custom.min.js') }}"></script>
<script src="{{ asset('bundles/sfmpicmnt/libs/waypoints.min.js') }}"></script>
<script src="{{ asset('bundles/sfmpicmnt/libs/caman.full.min.js') }}"></script>

{% javascripts filter='?yui_js'
'@SFMPicmntBundle/Resources/public/js/image.js' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}

{% endblock javascript %}

{% block content %}
{{ parent() }}

{% if paginator is defined %}
{% set Next = '' %}
{% set Previous = '' %}

{% for page in paginator %}
{% if loop.index == '1' %}
{% if image.idImage != page %}
{% set Next =  path('img_show', {'option': 'last',  'idImage': page, 'category': app.request.get('category') })  %}
{% endif %}
{% else %}
{% if image.idImage > page %}
{% set Previous =  path('img_show', {'option': 'last', 'idImage':  page, 'category': app.request.get('category') })  %}
{% endif %}
{% endif %}
{% endfor %}
{% endif %}


<div class="clear"></div>

<section class="container container_12">

	<form action="{{ path('comment', { 'idImage': image.idImage}) }}"  method="post">

		<section class="container_12">
			<div class="grid_12 center">
				<h1>
					{% if paginator is defined %}
					<a href="{{ path('img_view', {'user': image.user.username, 'slug': image.slug}) }} ">{{ image.title }}</a>
					{% else %}
					{{ image.title }}
					{% endif %}
				</h1>
			</div>

			<div class="clear"></div>
			
			{#    ###############              MAIN SECTION      ###############      #}
			<section class="grid_9">
				<article class="subsection center">
 					<span class="paginator-link left" >
						{% if paginator is defined and app.request.get('option') == 'last' %}
						{% if Previous %}
						<a href="{{ Previous }}"><<</a>
													   {% endif %}
													   {% endif %}
													   </span>
													   <img src="{{ asset(upload_dir ~ image.url) }}" id="image-to-modify" alt="{{image.title}}"> 
													   <span class="paginator-link right">
														   {% if paginator is defined and  app.request.get('option') == 'last' %}
														   {% if Next %}
														   <a href="{{ Next }}">>></a>
						{% endif %} 
						{% endif %}
					</span>
				</article>	 
				
				<article class="subsection">
					<textarea placeholder="Add your comment..." class="textarea-large" name="comment" required="required"></textarea> 
					<div class="right">
 						<button class="button cancel-button" type="reset"  onclick="javascript:applyProposal(0,0,0,0)">{{ 'Cancel' | trans }}</button> 
						<input class="button accept-button" type="submit" value="{% trans %}Send Comment{% endtrans %}">&nbsp;
					</div>
					{#  ################   COMMENTS   ################## #}

					<ul class="unstyled subsection_1">
						{% for comment in image.imageComments %}
						{% set username = comment.user.username %}
						
						<li id="comment-{{ loop.index }}" class="comment row hidden-element-parent accent large">
							<a class="link-to-comment hide" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}#comment-{{ loop.index }}">#{{ loop.index }}</a>
							<p>
								{# try to create a twig function #}

								{% if existsAvatar(username) %}
								<img src="{{ avatarByUsername(username,'big') | imagine_filter('avatar_small') }}" class="thumb-small left span_1" alt="avatar-small" />
								{% else %}
								{% if gravatar_exists(getEmail(username)) %}
								<img src="{{ gravatar(getEmail(username), 50) }}" class="avatar-small left span_1" alt="thumb-small"/>
								{% else %}
								<img src="{{ asset('/bundles/sfmpicmnt/images/default_user50x50.png') }}" class="thumb-small left span_1" alt="avatar-small" />
								{% endif %}
								{% endif %}
								<a href="{{ path('usr_profile', {'userName': comment.user.username }) }}">{{ username }}</a>
								<span class="minor-import">{{ image.pubDate | date() }}</span>
							</p>
							<p>
								{{ comment.comment | nl2br }}
								{% if comment.brightness != 0 or comment.contrast != 0 or comment.exposure != 0 or comment.saturation != 0 %}
								<a class="right button-small default-button hidden-element-inline hidden" href="#image-title" onclick="javascript:applyProposal({{ comment.brightness }},{{ comment.contrast }}, {{ comment.exposure }},{{ comment.saturation}})" >{{ 'See Proposal' | trans }}</a>
								{% endif %}
							</p>
						</li>

						{% else %}
						<h3 class="grid_12">{{ 'There is no comment for this image. Be the first to comment' | trans }}</h3>
						{% endfor %}

					</ul>
				</article>

			</section>




			{#    ###############              info SECTION      ###############      #}
			<section class="grid_3 subsection">

				<div  class="img-box span-medium ">
					<p>
						{% if existsAvatar(image.user.username) %}
						<img src="{{ avatarByUsername(image.user.username,'big') }}" class="right thumb-medium span" alt="avatar"/>
						{% else %}
						{% if gravatar_exists(getEmail(image.user.username)) %}
						<img src="{{ gravatar(getEmail(image.user.username), 100) }}"  class="right thumb-medium span" alt="avatar" />
						{% else %}
						<img src="{{ asset('/bundles/sfmpicmnt/images/default_user100x100.png') }}" class="right thumb-medium  span" alt="avatar"/>
						{% endif %}
						{% endif %}
					</p>
					<h2 class="span"><a href="{{ path('usr_profile', {'userName': image.user.username }) }}">{{ image.user.username }}</a></h2>

				</div>
				{% if app.user and  app.user.id == image.user.id  %}
				<div class="img-box">
					<ul>
						<li><a href="{{ path('img_edit', {'id_image': image.idImage}) }}"  class="button cancel-button">{% trans %}Edit{% endtrans %}</a></li>
						<li><a href="{{ path('img_delete', { 'idImage': image.idImage }) }}"  class="button danger-button">{% trans %}Remove{% endtrans %}</a></li>
					</ul>
				</div>
				{% endif %}
				{# <div class="img-box">
					<ul>
						<li>
							<a href="" class="like"></a>
						<li>
							<a href="" class="dislike"></a>
						</li>
					</ul>
				</div> #}

				<div class="img-box">
					<span class="control-title span_2">
						{% trans %}Brightness{% endtrans %}:
					</span>
					<input type="text" id="brightness-amount" name="brightness"  class="slider-data fake-input inline"/>

					<div id="slider-brightness" class="slider"></div>

					<span class="control-title span_2">
						{% trans %}Contrast{% endtrans %}:
					</span>
					<input type="text" id="contrast-amount" name="contrast"  class="slider-data fake-input inline"/>

					<div id="slider-contrast" class="slider"></div>

					<span class="control-title span_2">
						{% trans %}Exposure{% endtrans %}:
					</span>
					<input type="text" id="exposure-amount" name="exposure"  class="slider-data fake-input inline"/>

					<div id="slider-exposure" class="slider"></div>

					<span class="control-title span_2">
						{% trans %}Saturation{% endtrans %}:
					</span>
					<input type="text" id="saturation-amount" name="saturation"  class="slider-data fake-input inline"/>

					<div id="slider-saturation" class="slider"></div>
					<p id="see-original" class=" row_1 span_1  center">
						<a href="#" class="button accept-button" onclick="javascript:seeOriginal()">{% trans %}View Original{% endtrans %}</a>
					</p>
					<p class="row"></p>
				</div>
				{% if image.description %}
				<div class="img-box">
					<p class="span_2">{{ image.description }}</p>
				</div>
				{% endif %}

				<div class="img-box"> 
					<ul>
						<li class="pub-date">
							<span class="info-key">{% trans %}Uploaded{% endtrans %}:</span> {{ image.pubDate | date() }}
						</li>
						<li class="category">
							<span class="info-key">{% trans %}Category{% endtrans %}:</span>
							<a href="{{ path('img_show', { 'option': 'recents', 'category': image.category}) }}">{{ image.category }}</a>
						</li>
					</ul>
				</div>
				
			</section>
		</section>
	</form>
</section>
{% endblock content %}
