<footer>
  <div class="container">
    <div class="row">
      <div class="span-one-third">
	<p class="text-with-shadow footer-head" >Sitio</p>
	<ul>
	  <li><a href="{{ path('home') }}"></a></li>
	  <li><a href="{{ path('img_show', {'category': 'all', 'option': 'recents'}) }}">{{ 'Recents' | trans }}</a></li>
	  <li><a href="{{ path('img_show', {'category': 'all', 'option': 'last'}) }}">{{ 'Last Added' | trans }}</a></li>
	  <li><a href="{{ path('img_show', {'category': 'all', 'option': 'random'}) }}">{{ 'Random Image' | trans }}</a></li>
	  <li><a href="{{ path('fos_user_registration_register') }}">{{ 'Join' | trans }}</a></li>
	  <li><a href="{{ path('fos_user_security_login') }}">{{ 'Login' | trans }}</a></li>
	</ul>
      </div>

      <div class="span-one-third">
	<p class="text-with-shadow footer-head">Info</p>
	<ul>
	  <li><a href="http://blog.picmnt.com">BLOG</a></li>
	  <li><a href="{{ path('static_page', {'page': 'about'}) }}">{{ 'About Us' | trans }}</a></li>
	  <li><a href="#">FAQs</a></li>
	  <li><a href="{{ path('static_page', {'page': 'terms'}) }}">{{ 'Terms of use' | trans }}</a></li>
	  {#	    <li><a href="#">{{ 'Privacy' | trans }}</a></li> #}
	  <li>Email: info@picmnt.com</li>
	</ul>
      </div>

      <div class="span-one-third">
	<p class="text-with-shadow footer-head">Social</p>
	<ul>

	  <li><a href="https://twitter.com/picmnt">Twitter</a></li>
	  <li><a href="http://www.facebook.com/pages/Picmnt/155336231201638">Facebook</a></li>
	  <li><a href="https://plus.google.com/109480910514723706163">Google+</a></li>
	</ul>
      </div>
    </div>

    <div class="span4 column offset6 copyright">
	© Moisés Gallego 2011
    </div>

    {% block addons %}

    {% include "SFMPicmntBundle:Addons:analytics.html.twig" %}
    {% include "SFMPicmntBundle:Addons:uservoice.html.twig" %}

    {% endblock addons %}

  </div>
</footer>
