
{% block field_label %}
{% spaceless %}
{#    <label class="control-label" for="{{ id }}">{{ id|trans([], 'FOSUserBundle') }}</label>#}
<label for="{{ id }}">{{ label }}</label>
{% endspaceless %}
{% endblock field_label %}

{% block field_widget %}
    {% set type = type|default('text') %}
    <div class="control-group">
      <div class="controls">
	<input type="{{ type }}" {{ block('widget_attributes') }} value="{{ value }}" class="{{ type }}-xlarge"/>
      </div>
    </div>
{% endblock field_widget %}


{% block textarea_widget %}
{% spaceless %}
    <div class="clearfix">
      <div class="input">
	<textarea {{ block('widget_attributes') }}  class="xxlarge" id="descripcion" name="descripcion" style="width:300px;height:150px">{{ value }}</textarea> 
      </div>
    </div>

{% endspaceless %}
{% endblock textarea_widget %}

