{% extends "SFMPicmntBundle::base.html.twig" %}

{% block stylesheet %}
  {{ parent() }}

  {% stylesheets filter='less, ?yui_css' output='css/picmnt.css' 
          '@SFMPicmntBundle/Resources/public/less/general.less'
          '@SFMPicmntBundle/Resources/public/less/header.less' %}
  <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="all" />
  {% endstylesheets %}

{% endblock stylesheet %}


{% block header %}
  {{ parent() }}

  <header class="alpha omega">
      <div class="container container_12">
	  <div class="grid_1 picmnt-title">
	      <a href='{{ path("home") }}' title="Picmnt"> 
		  <span class="p-letter">P</span><span class="icmnt-word">icmnt</span>
	      </a>
	  </div>
	  <div class="grid_4 prefix_4 menu">
	      <ul class="tooltip-menu">
		  <li>
		      <a href="{{ path('img_show', { 'option': 'recents', 'category': 'all'}) }}">{% trans %}Explore{% endtrans %}</a>
		      {#<ul id="explore-submenu">
		      	  <li><a href="">{% trans %}Popular{% endtrans %}</a></li>
		      	  <li><a href="">{% trans %}Most viewed{% endtrans %}</a></li>
		      </ul>#}
		  </li>
		  <li><a href="{{ path('img_show', { 'option': 'random', 'category': 'all'}) }}">{% trans %}Random{% endtrans %}</a></li>

		  <li class="upload">
		      <a href="{{ path('img_upload') }}">{% trans %}Upload Image{% endtrans %}</a>
		  </li>

	      </ul>
	  </div>
	  <div id="login-menu" class="grid_3 menu">
	      <ul>
		  {% if is_granted("IS_AUTHENTICATED_REMEMBERED") or is_granted("IS_AUTHENTICATED_FULLY") %}
		    <li><a href="{{ path('fos_user_security_logout') }}">{% trans %}Logout{% endtrans %}</a></li>
		    <li>&nbsp;|&nbsp;</li> 
		    <li><a href="{{ path('usr_profile', {'userName': app.user.getUsername()})}}">{{ app.user.getUsername() }}</a></li> 
		{% else %}
		  <li><a href="{{ path('fos_user_registration_register') }}">{% trans %}Join{% endtrans %}</a></li>
		  <li>&nbsp;|&nbsp;</li> 
		  <li><a href="{{ path('fos_user_security_login') }}">{% trans %}Login{% endtrans %}</a></li> 
		{% endif %}
	      </ul>
	  </div>
      </div>
  </header>
{% endblock header %}
